.register-form-container {
    display: block;
    margin: 0 auto;
    top: 20%;
}

.register-form-container .card-body .form-label {
    margin-left: 25px;
}

.register-form-container .card-body > * {
    margin: 20px;
}